body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    background-color: #F9D5DB;
    display: grid;
    place-items: center;
}
h1 {
    font-family: 'Archivo', sans-serif;
    font-size: 8vw;
    text-align: center;
    padding: 200px;
    color: white;
    text-shadow: -1px 0 black, 0 5px black, 1px 0 black, 0 -1px black;
}
.container{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
}
.imageHead{
    max-width: 30%; 
    height: auto; 
    margin-top: 2rem;
    margin-left: 40%;
}

.header {
    
    background-size: cover;
    height: 600px; 
    background-color: #F9D5DB;
    background-image: url(polaroid.jpg);
}
.card {
    height: 50vh;
    width: 30vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightblue;
    margin: 1rem 1rem 1rem;
    border-radius: 20px;
    box-shadow: 10px 10px #4f4f4f;
    transition: all 0.3s;
    
}

.text-input {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 1.2rem;
  }
  
.text-input > input {
    background: transparent;
    color: inherit;
    border: none;
    border-bottom: 1px solid currentColor;
    margin-bottom: 1rem;
    padding: 1rem .5rem;
    outline: transparent;
    font-family: inherit;
    font-size: 1.2rem;
  }

  
.card-img{
     height: 70%;
     width: 100%;
     overflow: hidden;
}
.removeBtn{
    border-radius: 25px;
    margin-left: 13vw;  
}

.card1{
    align-items: center;
}

.bottom{
    margin-top: 3vh;
}